* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utilities */
.d_flex {
    display: flex;
}

.f_direction {
    flex-direction: column;
}

.images img:not(.active) {
    display: none;
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    display: flex
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: calc(90% / 12 * 6);
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}


.j_center {
    justify-content: center;
}

.w_100 {
    width: 100%;
}

.mt-20 {
    margin-top: 20rem;
}

/* #endregion utilities */